# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

.idea/**
node_modules/**
audio/**
node-scraper/node_modules/**

.idea/
audio/
node-scraper/node_modules/
